<h1>{{title}}</h1><hr>
<div class="container-fluid">
    <div class="col-md-4">
        <h3>Dane teleadresowe</h3>
        <hr>
        <p><h4>{{content.title}}</h4>
            {{content.name}}</br>
            {{content.address1}}</br>
            {{content.address2}}</br>
            {{# each content.phoneNumbers }}
                Tel. {{ this }}</br>
            {{/each}}
            www: {{ content.wwwUrl }}</br>
            email: {{ content.email }}</br>
        </p>
        <h3>Skontaktuj się z nami</h3><hr>
        <p> <form name="contactForm1" ng-app="contactApp" ng-controller="contactController" data-ng-submit="sendMail(contactForm,contactForm1)" novalidate="novalidate">

            <div class="form-group">
                 <label for="exampleInputEmail2" style="color: white">Imie i Nazwisko</label>
                 <input type="text" class="form-control" id="exampleInputName2" name="name" placeholder="Jan Nowak" data-ng-model="contactForm.contactName"
                    required="" ng-minlength="3" ng-maxlength="255">
            </div>
            <div class="form-group">
                 <label for="exampleInputEmail2" style="color: white" >Email</label>
                 <input type="email" class="form-control" id="exampleInputEmail2" name="email" placeholder="jan.nowak@example.com"
                        data-ng-model="contactForm.contactEmail" >
            </div>
            <div class="form-group ">
                  <label for="exampleInputEmail2" style="color: white" >Twoja wiadomość</label>
                  <textarea  class="form-control" name="content" placeholder="Treść wiadomości" required data-ng-model="contactForm.contactMsg"
                             required="" ng-minlength="10" ng-maxlength="400"></textarea>

            </div>
            <button type="submit" class="btn btn-primary"
                   ng-class="{'md-raised md-primary':
                   (contactForm.$dirty && contactForm.$valid)}" aria-label ="sth">Wyslij e-mail</button>
        </form></p>
    </div>
    <div class="col-md-8">
        <h3>Mapa</h3>
        <hr>
        <p id="mapBox"><iframe src="{{ content.mapUrl }}" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.css">
<script type="text/javascript" src="javascripts/contactScripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.js"></script>
<script src="https://code.angularjs.org/1.4.3/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="https://cdn.rawgit.com/jonsamwell/angular-auto-validate/master/dist/jcs-auto-validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-validate/1.2.3/validate.min.js"></script>

